<div class="banner-index">
    <!-- BANNER -->
    <div class="banner-text">
      <H1>AQUÍ VA EL ESLOGAN</H1>      
    </div>
    <div class="btnsub-container">
      <button class="btn btn-dark"><h3>SUBSCRIBE</h3></button>
    </div>
</div>

<div class="aboutme-section"  id="aboutme">
  <div class="aboutme-title">
    <h1>ABOUT  ME</h1>
  </div>
  <div class="aboutme-content">
    <h2>Aquí va el texto</h2>
  </div>
</div>

<div class="premium-section" id="premium">
  <div class="aboutme-title">
    <h1>UPGRADE TO A PREMIUM ACCOUNT</h1>
  </div>
  <div class="card premium-card">
    <div class="card-body">
      <h2 class="card-title">Subscribe for only (precio)</h2>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <h5 class="card-text">Aquí va una breve descripción de los beneficios de tener cuenta premium.</h5>
      <button class="btn btn-danger btn-block mt-4"><b>GET STARTED</b></button>
    </div>
  </div>
</div>

<div class="contact-section" id="contact">
  <div class="contact-title">
    <h1>LONDON ... </h1> 
    <h3>Professional athlete</h3>
    <hr>
  </div>
  <div class="contact-sn">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="contact-sm-ico" title="Instagram"><i class="fa fa-instagram  fa-5x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="contact-sm-ico" title="Twitter"><i class="fa fa-twitter fa-5x"></i></a>
      </div>      
      <div class="col-sm-3">
        <a href="#" class="contact-sm-ico" title="Facebook"><i class="fa fa-facebook fa-5x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="contact-sm-ico" title="Youtube"><i class="fa fa-youtube fa-5x"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="videosection-index">
  <!-- video index section--
  <div class="videosection-index-title">
    <h1><b>VIDEOS</b></h1>
  </div>
  <div class="videosection-index-body mt-4">
    <h4>here goes a description of the video service</h4>
  </div>
  <br>
  <div class="videosection-index-body mt-4">
      <hr>
    <h4>Check our free videos</h4>
  </div>
  <app-vidcardindex [videoList]="videoList"></app-vidcardindex>
  <div class="more">
    <h4><b>Click <a href="">here</a> for more</b></h4>
  </div>
</div>
<div class="blogsection-index">
    <div class="blogsection-index-title ">
        <h1><b>Blog</b></h1>
    </div>
    <div class="blogsection-index-body mt-4">
        <h4>here goes a description of the blog section and probably a cool background image</h4>
      </div>
</div>
<div class="dietsection-index">
    <div class="blogsection-index-title ">
        <h1><b>Diets</b></h1>
    </div>
    <div class="blogsection-index-body mt-4">
        <h4>here goes a description of the diets section and probably a cool background image</h4>
      </div>
</div> -->
