<div class="banner-index">
    <!-- BANNER -->
</div>
<div class="videosection-index">
  <!-- video index section-->
  <div class="videosection-index-title">
    <h1><b>VIDEOS</b></h1>
  </div>
  <div class="videosection-index-body mt-4">
    <h4>here goes a description of the video service</h4>
  </div>
  <br>
  <div class="videosection-index-body mt-4">
      <hr>
    <h4>Check our free videos</h4>
  </div>
  <app-vidcardindex [videoList]="videoList"></app-vidcardindex>
  <div class="more">
    <h4><b>Click <a href="">here</a> for more</b></h4>
  </div>
</div>
<div class="blogsection-index">
    <div class="blogsection-index-title ">
        <h1><b>Blog</b></h1>
    </div>
    <div class="blogsection-index-body mt-4">
        <h4>here goes a description of the blog section and probably a cool background image</h4>
      </div>
</div>
<div class="dietsection-index">
    <div class="blogsection-index-title ">
        <h1><b>Diets</b></h1>
    </div>
    <div class="blogsection-index-body mt-4">
        <h4>here goes a description of the diets section and probably a cool background image</h4>
      </div>
</div>
