.logo {
    width: 95px;
    height: 50px;;
}

/* .navbar {
    background: rgb(211, 32, 32);
    background: linear-gradient(90deg, rgba(38,35,35,0.73) 0%, rgba(38,35,35,0.73) 100%);
    color: white;
} */

.navbar-custom{
    /* background-color: #d12323; */
    background-color: rgb(202, 28, 28);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
    position: sticky;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-custom a {
    color: white;
}

.navbar-inverse{
    /* background: rgb(37, 35, 35); */
    background: linear-gradient(90deg, rgba(38, 35, 35, 0.548) 0%, rgba(38,35,35,0.548) 100%);
    color: white;
} 

