<nav class="navbar navbar-custom navbar-expand-lg navbar-dark fixed-top" (scroll)="onWindowScroll();">
    <a class="navbar-brand" style="margin-left: 16%;" href="#"
      ><img class="logo" src="assets/img/superfly-07.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" style="margin-right: 19%;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-4" routerLink="/bio">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-4" routerLink="/signup">Diets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-4" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-4" routerLink="/signin">Signin</a>
        </li>
      </ul>
    </div>
  </nav>