
  <form novalidate (ngSubmit)="update()" [formGroup]="stripeTest">
    <div class="cardCont2" *ngIf="!error && !success; else showResponse">
      <div *ngIf="!loadingPage; else loading">
        <h3>Update your payment info</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="your name"
            disabled
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="your email"
            disabled
          />
        </div>
      </div>
      <ng-template #loading>
        <div class="loaderCont">
          <app-loader></app-loader>
        </div>
      </ng-template>
      

      <i class="fa fa-cc-visa fa-3x"></i>
      <i class="fa fa-cc-mastercard	fa-3x ml-2"></i>
      <i class="fa fa-cc-amex	fa-3x ml-2"></i>

      <h6 class="mt-3">Please enter your card info.</h6>
      <div class="car-cont" style="background-color: white;">
        <div id="card-element" class="field mt-1"></div>
      </div>
      <h6 class="mt-3">Please enter your password.</h6>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Password"
          formControlName="pass"
          value=""
          required                            
        />
      </div>
      <p class="text-danger" *ngIf="passError">
          {{responseMessage}}
      </p>
      <h6><i class="fa fa-lock"></i> This is a secure and encrypted payment. We never store your credit card information.</h6>
      <button class="btn-update" type="submit">
        Update
      </button>
     <!--  <button class="btn-cancel" (click)="cancel()">
        Cancel
      </button> -->
    </div>
    <ng-template #showResponse>
      <div class="resCont" *ngIf="success; else error">
        <h3>{{responseMessage}}</h3>
      </div>
      <ng-template #error>
        <div class="text-danger resCont">
          <h2>{{responseMessage}}</h2>
        </div>
      </ng-template>
    </ng-template>
  </form>