<div class="title-page mt-5">
  <h2>My info</h2>
</div>
<div class="content-page mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>First Name</p>
    </div>
    <div class="col-sm-7">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name=""
          [(ngModel)]="app.userinfo.first_name"
          disabled
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Last Name</p>
    </div>
    <div class="col-sm-7">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name=""
          [(ngModel)]="app.userinfo.last_name"
          disabled
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Email</p>
    </div>
    <div class="col-sm-7">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name=""
          [(ngModel)]="app.userinfo.email"
          disabled
        />
      </div>
    </div>
  </div>
</div>
