<div class="maincont2">
    <div class="container register-form col-md-4">
      <div class="form">
        <div class="note">
          <h4><p>Sign in.</p></h4>
        </div>
        <div class="form-content">
          <div class="loaderCont" *ngIf="loading; else showForm"> 
            <app-loader></app-loader>
          </div>
          <ng-template #showForm >
          <div class="text-danger" *ngIf="error">
            <p><b>{{errorMessage}}</b></p>
          </div>        
          <form #loginForm="ngForm" (ngSubmit)="signin()">
            <div class="row">                            
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="user.email" 
                    placeholder="Email"
                    value=""
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    required
                    #emailt = "ngModel"
                  />
                </div>
              </div>
              <div class="text-danger" *ngIf="emailt.errors?.pattern">
                <p><b>Invalid email address.</b></p>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    [(ngModel)]="user.password"
                    placeholder="Password"
                    value=""
                    required                            
                  />
                </div>
              </div>
            </div>
            <button type="submit" class="btnSubmit mt-1 btn-block" [disabled]="!loginForm.valid">Sign In</button>
          </form>
          <div class="forgotCont mt-2">
            <a routerLink="/resetpassword"><h6>Forgot password?</h6></a>
          </div>
        </ng-template>
        </div>
      </div>
    </div>
    <br />
  </div>
  
  