/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}
.loaderCont{
    width: 100%;
    display: flex;
    justify-content: center;
}


