<div class="subsCont">
  <div class="header">
    <h1>Subscribe now</h1>    
  </div>

  <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
    <div class="cardCont" *ngIf="!error && !success; else showResponse">
      <div *ngIf="!loadingPage; else loading">
        <h3>Start a new life right now</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="your name"
            disabled
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="your email"
            disabled
          />
        </div>
      </div>
      <ng-template #loading>
        <div class="loaderCont">
          <app-loader></app-loader>
        </div>
      </ng-template>
      

      <i class="fa fa-cc-visa fa-3x"></i>
      <i class="fa fa-cc-mastercard	fa-3x ml-2"></i>
      <i class="fa fa-cc-amex	fa-3x ml-2"></i>

      <div id="card-element" class="field mt-3"></div>
      <h6><i class="fa fa-lock"></i> This is a secure and encrypted payment. We never store your credit card information.</h6>
      <button type="submit">
        Subscribe
      </button>
    </div>
    <ng-template #showResponse>
      <div class="resCont" *ngIf="success; else error">
        <h3>{{responseMessage}}</h3>
      </div>
      <ng-template #error>
        <div class="text-danger resCont">
          <h2>{{responseMessage}}</h2>
        </div>
      </ng-template>
    </ng-template>
  </form>
</div>

<!-- <ng-template #loadingForm>
  <div class="loadingPage">
    <app-loader></app-loader>
  </div>
</ng-template> -->
